.head_public{
	background-color: rgba(255,255,255,.95);
}
.head_public>.head_zhong>.head_text>.layui-nav{
	background-color: rgba(255,255,255,.95);
}
body{
	background-color: #CCCCCC;
}
.the_overall{
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 10px;
	transition: all .3s;
}
.the_overall>div{
	width: 50%;
	display: flex;
	transition: all .3s;
}
.the_overall>div>div{
	width: 50%;
	padding: 10px;
	transition: all .3s;
}
.the_overall>div>div>div{
	width: 100%;
	background-color: #FFFFFF;
	padding: 20px;
	margin-bottom: 20px;
	transition: all .3s;
}
.the_overall>div>div>div>img{
	width: 100%;
}
.the_overall>div>div>div>p{
	text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 20px;
}

@media screen and (max-width:1200px) {
}
@media screen and (max-width:990px) {
	.the_overall>div{
		flex-direction: column;
		align-items: center;
	}
	.the_overall>div>div{
		width: 100%;
	}
}

@media screen and (max-width:640px) {
	.the_overall{
		flex-direction: column;
		align-items: center;
	}
	.the_overall>div{
		width: 80%;
	}
}

@media screen and (max-width:500px) {
}

